.topbar{
    width: 100%;
    height: 50px;
    background-color: #43444B;
    position: sticky;
    top: 0;
    z-index: 999;
}

.topbarWrapper{
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #E2E2E2;
}

.logo{
    font-weight: bold;
    font-size: 30px;
    color: whitesmoke;
    cursor: pointer;
}